<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>WinnerPicker</title>
</head>

<body>
    <h1>WinnerPicker</h1>

    <div class="container" id="app">
        <form v-on:submit.prevent="addName">
            <input type="text" class="input-name" placeholder="Enter a name.." v-model="inputName">
            <button type="submit" class="add">+</button>
        </form>

        <ol>
            <li v-for="item in list">{{item}}</li>
        </ol>

        <button class="pick-winner" @click="pickWinner">Pick-a-Winner</button>

        <div>
            <p v-show="winner">Winner - {{winner}}</p>
        </div>

    </div>

    <script src="vue.js"></script>
    <script src="main.js"></script>
</body>

</html>