:root {
  --gradient: linear-gradient(#fc6c48 0%, #ef5081 100%);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--gradient);
  min-height: 100vh;
  margin: 0;
  padding: 1rem 1.2rem;
  color: #333;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-family: "Mate SC", serif;
  font-weight: normal;
}
.container {
  background: white;
  max-width: 450px;
  margin: 0 auto;
  padding: 2.2rem 2rem;
  border-radius: 4px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.input-name {
  width: 100%;
  margin: 0 0 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  border: 0;
  background: #eee;
  color: #333;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
}

.btn-add {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 3px;
  border: 0;
  font-size: 1.8rem;
  background: #4285f4;
  color: white;
  cursor: pointer;
}

@media (min-width: 550px) {
  form {
    display: flex;
  }
  .input-name {
    flex: 1;
    margin: 0 0.5rem 0 0;
  }
  .btn-add {
    width: auto;
    padding: 0 1.5rem;
  }
}

.btn-pick {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  background: var(--gradient);
  color: white;
  font-family: "Mate SC", serif;
}

.input-name:focus,
.btn-add:focus,
.btn-pick:focus {
  outline: 1px solid #a3b1ff;
}

li {
  margin-bottom: 0.5rem;
}

.winner-name {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}
