body {
  margin: 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form {
  display: flex;
}

.input-name {
  flex: 1;
  font-size: 18px;
  padding: 10px;
}

.add {
  font-size: 38px;
}
